@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --DarkBlueimg: hsl(213, 19%, 20%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 15px;
}

button {
  font-family: inherit;
  font-size: inherit;
}
body {
  font-family: "Overpass", sans-serif;
  background-color: var(--VeryDarkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

div {
  background-color: var(--DarkBlue);
  padding: 1.5rem;
  max-width: 400px;
  border-radius: 1.5rem;
}

div.rating_container img {
  padding: 0.8rem;
  background-color: var(--DarkBlueimg);
  border-radius: 50%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--White);
  letter-spacing: 0.07rem;
  margin-bottom: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

p {
  color: var(--MediumGrey);
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

img {
  margin-bottom: 1rem;
}

button.btn {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  border: none;
  background-color: var(--DarkBlueimg);
  color: var(--LightGrey);
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  margin-bottom: 1.5rem;
}

button.btn:hover {
  background-color: var(--Orange);
  color: var(--White);
  transform: scale(1.2);
}

button.btn:focus {
  background-color: var(--LightGrey);
  color: var(--White);
}

.action_btn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  background-color: var(--Orange);
  color: var(--White);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.action_btn:hover {
  transform: scale(1.05);
}

.hidden {
  height: 0;
  padding: 0;
  overflow: hidden;
}
.thank_you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.thank_you .rated {
  background-color: var(--DarkBlueimg);
  padding: 0.2rem 0.5rem;
  color: var(--Orange);
  font-weight: 700;
  display: inline-block;
  border-radius: 1rem;
}

.submit_btn:disabled {
  background-color: var(--White);
  cursor: not-allowed;
  color: var(--Orange);
  font-weight: 700;
}
